# Backend Environment Variables
FLASK_ENV=production
PYTHON_VERSION=3.11


MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/sentiment_analysis

REACT_APP_API_URL=https://your-backend-service.onrender.com/api
